extends layout

block content
  .container
    .row.pad-top-xl
      .col-md-4
        table#stats.table.table-striped
          tr
            th Metric
            th Avg
            th Vol
      .col-md-8
        h4.success.text-center 
          | Bitcoin fx rates (30d)
          small.cyan   /USD
          small.yellow-green   /EUR
        canvas#graph(width="700" height="400")
