doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="/javascripts/jquery-csv.min.js")
    script(src='/javascripts/global.js')
    script(src='/javascripts/chart.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        a.navbar-brand(href="#") Bitvols
    block content