body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pad-top-xl {
  padding-top:70px;
}

.cyan {
  color:rgba(0,143,170,1.0);
}

.yellow-green {
  color:rgba(170,242,0,1);
}